.col-md-12 {
  height: 100px;
  background-color: blue;
  color: #fff;
}
.h1 {
  color: white;

  .row2 {
    height: 25px;
    background-color: yellow;
    color: red;
  }

}
.col-md-6 {
  height: 50px;
  background-color: purple;
  color: white;
  border: 2px solid;
}

.col-md-3 {
  height: 50px;
  background-color: orange;
  color: green;
  border: 2px solid;
}
.col-md-1 {
  height: 50px;
  background-color: red;
  color: green;
  border: 2px solid;
}
